<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}WebChat{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://api-maps.yandex.ru/2.1/?load=Geolink&amp;lang=ru_RU&amp;apikey=65f84225-226c-4cf2-aefa-4dda31ec4386"
            type="text/javascript"></script>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bs_copy.css' %}">

    <script type="text/javascript">
        $(document).ready(function f1() {
            setTimeout(foo, 0);

            var bot_p = $("#id_bot_text").clone().removeAttr('hidden');
            var us_t = $("#id_user_text").clone().removeAttr('hidden');
            var btn_s = $("#id_btn_select").clone().removeAttr('hidden');
            var btn_length = 0;

            $("#id_btn_send").on("click", foo);

            function foo() {
                var bot_p_new = bot_p.clone();
                var user_t_new = us_t.clone();
                var btn_s_new = btn_s.clone();

                var us_in = $("#id_user_input").val();
                if (us_in === '') {
                    if ($(this).text().length < 50) {
                        {#//because Auto start with $(foo) collect all JS+Html code on $(this).text()#}
                        {#//and send it to the Chat! if -> max length on a text button (UserInput in DB)#}
                        us_in = $(this).text()
                    }
                }
                $(user_t_new).children('p').text(us_in);
                $("#id_chat_div").append(user_t_new);
                $.ajax({
                    'url':{% url 'web_chat_bot' %},
                    'data': {'us_in': us_in},
                    success: function (data) {
                        var json_data = jQuery.parseJSON(data);
                        for (var r = 0; r < btn_length; r++) {
                            {#// remove all old buttons#}
                            $("#id_new_btn").remove();
                        }
                        btn_length = json_data.btn_text.length;

                        $("#id_user_input").val('');
                        $("#id_chat_div").append(bot_p_new.html(json_data.help_text));

                        {#//auto scroll to the bottom of the chat div#}
                        $("#id_chat_show_hide").animate({scrollTop: $('#id_chat_div').prop("scrollHeight")}, 1000);

                        for (var i = 0; i < btn_length; i++) {
                            var btn_clone = btn_s_new.clone();
                            btn_clone.attr('id', 'id_new_btn').on("click", foo);
                            $("#id_div_add_btn").append(btn_clone.text(json_data.btn_text[i]));
                        }
                    }
                });
            }

            {#$("#id_btn_hide_chat").on("click", function () {#}
            {#    $("#id_chat_show_hide").hide();#}
            {#    $("#id_div_add_btn").hide();#}
            //});
            {#$("#id_btn_open_chat").on("click", function () {#}
            {#    $("#id_chat_show_hide").show();#}
            {#    $("#id_div_add_btn").show();#}
            //});
            $("#id_btn_restore_chat").on("click", foo);

            $("#id_floating_btn_2").hide();
            $("#id_btn_restore_chat").hover(function () {
                $("#id_floating_btn_1").hide();
                $("#id_floating_btn_2").show();
            }, function () {
                $("#id_floating_btn_1").show();
                $("#id_floating_btn_2").hide();
            })
        });
    </script>

</head>

<body style="background-color: #FFFFFF; overflow: no-display;">

<div class="main_chat_div">

    {#<!--CHAT TOP-->#}
    {#    <div class="chat_head_div">#}
    {#        <a id="id_btn_open_chat" class="btn_open_chat">Карта помощи</a>#}
    {#        <a id="id_btn_restore_chat" class="btn_restore_chat"><img src="{% static 'img/restore.png' %}" alt="🔁"></a>#}
    {#        <a id="id_btn_hide_chat" class="btn_close_chat"><img src="{% static 'img/close_chat_white.png' %}" alt="❌"></a>#}
    {#    </div>#}


    {#<!--CHAT BODY-->#}
    <div id="id_chat_show_hide" class="chat_body_div">
        <div id="id_chat_div">
            <p hidden id="id_bot_text" class="bot_text shadow-sm"></p>
            <div style="text-align: right;" hidden id="id_user_text">
                <p id="id_user_text_p" class="user_text shadow-sm"></p></div>
        </div>
    </div>

    {#<!--CHAT BUTTONS-->#}
    <div class="chat_buttons_div">
        <div id="id_div_add_btn">
            <button hidden id="id_btn_select" type="button" class="btn_2 shadow-sm"></button>
        </div>
    </div>

    {#<!--CHAT INPUT HIDDEN -->#}
    <div style="position: fixed; bottom: 0">
        {# DO NOT DELETE !!! #}
        <label hidden for="id_user_input">Send msg</label>
        <input hidden id="id_user_input" type="text">
        <a hidden type="button" id="id_btn_send">Send</a>
    </div>

    <a id="id_btn_restore_chat" class="btn_2 floating_btn_restore_chat">
        <img src="{% static 'img/restore_2D9CDB.png' %}" alt="🔁" id="id_floating_btn_1">
        <img src="{% static 'img/restore.png' %}" alt="🔁" id="id_floating_btn_2">
    </a>
</div>

</body>
</html>