<script type="text/javascript">
    $(document).ready(function f1() {
        setTimeout(foo, 3000);

        var bot_p = $("#bot_text").clone().removeAttr('hidden');
        var us_t = $("#user_text").clone().removeAttr('hidden');
        var btn_s = $("#btn_select").clone().removeAttr('hidden');
        var btn_length = 0;

        $("#btn_send").on("click", foo);

        function foo() {
            var bot_p_new = bot_p.clone();
            var user_t_new = us_t.clone();
            var btn_s_new = btn_s.clone();

            var us_in = $("#user_input").val();
            if (us_in === '') {
                if ($(this).text().length < 50) {
                    {#//because Auto start with $(foo) collect all JS+Html code on $(this).text()#}
                    {#//and send it to the Chat! if -> max length on a text button (UserInput in DB)#}
                    us_in = $(this).text()
                }
            }
            $("#chat_div").append(user_t_new.text(us_in));
            $.ajax({
                'url':{% url 'web_chat_bot' %},
                'data': {'us_in': us_in},
                success: function (data) {
                    var json_data = jQuery.parseJSON(data);
                    for (var r = 0; r < btn_length; r++) {
                        {#// remove all old buttons#}
                        $("#id_new_btn").remove();
                    }
                    btn_length = json_data.btn_text.length;

                    $("#user_input").val('');
                    $("#chat_div").append(bot_p_new.html(json_data.help_text));
                    {#//auto scroll to the bottom of the chat div#}
                    $("#chat_div").animate({scrollTop: $('#chat_div').prop("scrollHeight")}, 1000);

                    for (var i = 0; i < btn_length; i++) {
                        var btn_clone = btn_s_new.clone();
                        btn_clone.attr('id', 'id_new_btn').on("click", foo);
                        $("#div_add_btn").append(btn_clone.text(json_data.btn_text[i]));
                    }
                }
            });
        }

        $("#btn_hide_chat").on("click", function () {
            $("#chat_show_hide").hide();
            $("#div_add_btn").hide();
        });
        $("#btn_open_chat").on("click", function () {
            $("#chat_show_hide").show();
            $("#div_add_btn").show();
        });
    });
</script>

{# https://www.materialpalette.com/green/light-blue #}
<!--CHAT TOP-->
<div class="row justify-content-between rounded-top"
     style="background-color: #4CAF50">
    <a id="btn_open_chat" class="btn btn-outline-success border-0 ml-3 col-6">Chat Bot can help you!</a>
    <a id="btn_hide_chat" class="btn btn-outline-success border-0 mr-3 col-1">x</a>
</div>

<!--CHAT BODY-->
<div id="chat_show_hide" style="background-color: #C8E6C9">
    <div id="chat_div"
         class="py-1 d-inline-flex flex-column rounded"
         style="background-color: #C8E6C9; overflow-y: scroll; max-height: 400px; overflow-x: hidden">
        <p hidden id="bot_text"
           class="text-left text-wrap shadow-sm rounded m-1 p-1"
           style="background-color: #FFFFFF"></p>
        {# <div hidden id="bot_text" class="text-left alert alert-dark text-wrap shadow-sm rounded"></div>#}
        <p hidden id="user_text"
           class="text-right alert alert-success text-wrap shadow-sm rounded m-1 p-1"
           style="color: #212121"></p>
    </div>
</div>

<!--CHAT BUTTONS-->
<div id="div_add_btn" class="my-2 text-center rounded"
     style="overflow-y: scroll; max-height: 150px; overflow-x: hidden; background-color: whitesmoke">
    <button hidden id="btn_select" type="button"
            class="btn btn-outline-primary m-1"
            style="min-width: 200px"></button>
</div>

<!--CHAT INPUT HIDDEN -->
<div class="my-2 rounded">
    {# DO NOT DELETE !!! #}
    <label hidden for="user_input">Send msg</label>
    <input hidden id="user_input" type="text">
    <button hidden type="button" id="btn_send" class="btn btn-outline-success m-sm-1">Send</button>
</div>