<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    {% load staticfiles %}
    {#    <style type="text/css" href="{% static '' %}"></style>#}

    <title>{% block title %}{% endblock %} - ChatBot</title>
</head>

<body style="font-size: large">

<div class="container">

    <header>
        <nav class="nav" style="background-color: #344955">
            <a class="nav-link text-white" href="/">Main</a>
            <a class="nav-link text-white" href="{% url 'chat_page' %}">Chat</a>
            <a class="nav-link text-white" href="{% url 'tree' %}">Tree</a>
            <a class="nav-link text-white" href="#">3</a>
            <a class="nav-link text-white" href="#">4</a>
            <a class="nav-link text-white" href="#">5</a>
        </nav>
    </header>

    <main>
        <div class="container my-2"
             style="min-height: 600px; background-color: whitesmoke">
            <section class="content">
                {% block content %}{% endblock %}
            </section>
        </div>
    </main>

    <footer>
        <nav class="nav" style="background-color: #344955">
            <h4 class="text-white">Footer</h4>
        </nav>
    </footer>

    <div id="id_chat_panel"
         class="chat_panel fixed-bottom col-6 rounded mx-2 border"
         style="background-color: white;">

        {% include 'help_bot/chat.html' %}
    </div>

</div>

</body>
</html>